body {
	background-image: url("images/Bg.jpg");
	background-repeat: no-repeat;
  }
  
  .topnav {
	overflow: hidden;
	background-color: #333;
	position: sticky;
	top: 0;
	width: 100%;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	font-family: cursive;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #bbb;
	color: black;
  }